/* This is a comment */

body {
    background-color: pink;
  }
  
 h1 {
    color: rgb(30,30,250);
    margin-left: 20px;
  }

  h2 {
    color: #fafafa;
    font-size: 3pc;
  }

  h3 {
    color: hsl(59, 100%, 75%);
    font-size: 1cm;
  }

  ol {
    background-color: green;
  }

  li {
    font-size: 22px;
  }

  p {
    font-size: 3vw;
  }

  strong {
    font-size: 3.5rem;
  }

  summary {
    font-size: 4ch;
  }